---
import { ViewTransitions } from 'astro:transitions'

const { title, description, url, image, author } = Astro.props

let subtitle = "Alex's Guardian"
let domain = 'alexsguardian.net'
---

<!-- general meta -->
<meta name="title" content={`${subtitle} - ${title}`} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- open graph -->
<meta property="og:url" content={url} />
<meta property="og:type" content="website" />
<meta property="og:title" content={`${subtitle} - ${title}`} />
<meta property="og:description" content={description} />
<meta property="og:image" content={Astro.site ? `${Astro.site}${image}` : image} />

<!-- twitter card -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={domain} />
<meta property="twitter:url" content={url} />
<meta name="twitter:title" content={`${subtitle} - ${title}`} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={Astro.site ? `${Astro.site}${image}` : image} />

<!-- page title -->
<title>{subtitle} - {title}</title>

<ViewTransitions />
